<section class="d-flex align-items-center" style="min-height: 90vh;">
  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-4">Estás en MoviesWorld</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>¿Qué es MoviesWorld?</h2>
        <p>MoviesWorld es una plataforma donde puedes buscar y descubrir películas de todo el mundo. Explora nuestra amplia base de datos y encuentra tus películas favoritas.</p>
      </div>
      <div class="col-md-6">
        <h2>Cómo empezar</h2>
        <p>Para comenzar, utiliza el buscador en la parte superior de la página para encontrar películas por título, género o año. ¡Disfruta explorando!</p>
      </div>
    </div>
  </div>
</section>
